<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
	  <!-- Кол-во дней, за которое будут храниться логи -->
	<add key="KeepLogsDays" value="10"/>
	  <!-- Автоматическо обновление версии из GitHub(проверка при запуске службы + ежеденевно в 8:00)-->
	<add key="AutoUpdate" value="true" />
	  <!-- Частота проверки RabbittMQ - в минутах -->
	<add key="RabbittCheckFrequency" value="1"/>
	  <!-- Токен телеграм бота -->
    <add key="TelegramBotToken" value="0" />
	  <!-- Указываем имя службы томката,порт, логин и пароль,id чата в телеграм, название службы,присылать ли уведомления в чат, время отправки уведомлений";" -->
	  <!-- Если требуется получать уведомления при падении слушателей, то указываем id чата-->
	  <!-- Название службы для телеграм необходимо для отправки уведомлений в телеграм и что бы вы могли идентифицировать ее(Например: "Пхали КЦ")-->
	  <!-- Присылать ли уведомления в чат - можно ограничить отправку уведомлений по ошибкам и повторяющихся уведомлений в чат(время отправки уведомлений в таком случае не имеет значение )-->
	  <!-- Время отправки уведомлений - указываем с какой переодичностю должны приходить уведомления в чат(кратно часу). Т.е. "1" - каждый час, "6"-каждые шесть часов, "0,5"-каждые пол часа, "0" - отключить отправку-->

	  <add key="tomcat-chatName_1" value="RMSServer;8080;iiko_login;iiko_password;ID_чата;Название_службы_для_телеграм;true;1" />
	  <!-- Если на сервере несколько служб для мониторнига, то необходимо добавить параметры с N-ым числом, см пример ниже -->
	  <!-- Названия служб и чатов могут быть неуникальными -->
	<!--add key="tomcat-chatName_2" value="RMSServer2;8082;iiko_login2;iiko_password2;ID_чата;Название_службы_для_телеграм2;true;0,5" /-->
	<!--add key="tomcat-chatName_3" value="RMSServer3;8083;iiko_login3;iiko_password3;ID_чата3;Название_службы_для_телеграм3;true;6" /-->
	<!--add key="tomcat-chatName_3" value="RMSServer3;8083;iiko_login3;iiko_password3;ID_чата4;Название_службы_для_телеграм4;false;0" /-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>