<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- Название службы для обновления -->
		<add key="ServiceName" value="iikoServiceControl"/>
		<!-- Директория расположения -->
		<add key="ReleaseUrl" value="https://codeload.github.com/ZakharovOpen/iikoServiceControl/zip/refs/heads/main" />
	</appSettings>
</configuration>